//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary:#229103;
$info:#1d9dff;
$azul:blue !default;

